.flexbox{
    display: flex;
}

/* .block1{
    border: 1px solid black;
    height: 600px;    
    align-items: flex-end;
    flex-direction: column;
}

.block2{
    border: 1px solid black;
    height: 600px;    
    align-items: flex-end;
} */
 
.block3{
    border: 1px solid black;
    height: 600px;    
    align-items: flex-start;
    flex-flow: wrap;
}

.box{
    height: 150px;
    margin: 10px;
    background-color: #eee;
    font-size: 100px;
}

.width300{
    width: 400px;
}

.width500{
    width: 600px;
}

.just-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

    /* .box2{ */
   /* block 1 */
    /* align-self: flex-start; */
    /* block 2 */
    /* align-self: flex-start;} */
